{% extends 'base.html' %}

{% block content %}

</div>
<h1 class="h3 mb-3 font-weight-normal text-center">Login</h1>
<div class="container">
            <title>{% block title %}Login{% endblock %}</title>

    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">

            <form method="POST" action="">
                {% csrf_token %}

                <label for="username" class="sr-only">Username </label>
                <div class="checkbox mb-3">
                    {{form.username}}
                </div>
                <label for="inputPassword" class="sr-only">Password</label>
                <div class="checkbox mb-3">
                    {{form.password}}
                </div>

                <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>


        </div>
    </div>
    </div>




    {% endblock %}